/const
/deprecated
/likely
/message
/no-return
/static-assert
/stringify
/unknown-pragmas
/unavailable
/unreachable
/warn
/warn-unused-result
/const-cpp
/deprecated-cpp
/likely-cpp
/message-cpp
/no-return-cpp
/static-assert-cpp
/stringify-cpp
/unknown-pragmas-cpp
/unavailable-cpp
/unreachable-cpp
/warn-cpp
/warn-unused-result-cpp
/const.cpp
/deprecated.cpp
/likely.cpp
/message.cpp
/no-return.cpp
/static-assert.cpp
/stringify.cpp
/unknown-pragmas.cpp
/unavailable.cpp
/unreachable.cpp
/warn.cpp
/warn-unused-result.cpp
